<div class="rounded-md big-font nm-flat-bg1-light dark:nm-flat-bg1-dark-xs p-4 text-color text-2xl md:text-4xl text-center font-bold mt-16 pb-8 m-8 w-fit"><h2 class="editable">Qui se cache derrière <span class="mx-4 bimbo text-6xl font-bold">annmof</span>?</h2></div>
<div class="flex flex-col md:flex-row items-center m-0 md:m-16 justify-around text-neutral-light dark:text-neutral-dark">
  <div class="order-2 md:order-1 m-8 md:max-width-50vw">
    <div class="mt-16 text-lg leading-loose editable">
      <p class="mb-4 italic">“Une agence web qui maîtrise le référencement et le marketing est un partenaire stratégique pour votre entreprise.”</p>
      <p class="mb-4">Créée en 2019, Annmof est une agence web avignonnaise qui a fait ses preuves. Au-delà de la création de contenus, vous venez de trouver un véritable partenaire en visibilité sur Internet.</p>
      <div class="flex flex-col md:flex-row items-center">
        <div class="grow-0 shrink-0 transition-all duration-1000 m-8 rounded-full  flex items-center visage-anim nm-concave-bg1-light dark:nm-concave-bg1-dark">
          <img
            src="./assets/images/manon.webp"
            class="object-scale-down m-auto rounded-full"
            alt="visage de Manon Fayard qui regarde vers le haut en souriant"
            width=200px
            height=200px
          />
        </div>
        <h3 class="rounded-md big-font nm-inset-bg1-light dark:nm-inset-bg1-dark-xs p-4 text-color text-xl md:text-2xl text-center font-bold w-fit mb-8">Une conceptrice-rédactrice experte en SEO</h3>
      </div>
      <p class="mb-4">Manon Fayard, rédactrice freelance et consultante SEO, de la team born in the 80’s, maman de (bientôt) 3 enfants 💪. Ma carrière fait le pont entre le marketing digital et la pédagogie : ex-prof, ex-responsable de communication dans le spectacle vivant, auteure à mes heures de nouvelles pour enfants. Passionnée d’art et de numérique, curieuse de la vie et des autres en général. Avec AnnMof, je développe des relations avec mes clients basées sur la proximité, la souplesse et la réactivité.</p>

      <div class="flex flex-col md:flex-row items-center">
        <div class="grow-0 shrink-0 transition-all duration-1000 m-8 rounded-full  flex items-center visage-anim nm-concave-bg1-light dark:nm-concave-bg1-dark">
          <img
            src="./assets/images/julien.webp"
            class="object-scale-down m-auto rounded-full"
            alt="visage de Manon Fayard qui regarde vers le haut en souriant"
            width=200px
            height=200px
          />
        </div>
        <h3 class="rounded-md big-font nm-inset-bg1-light dark:nm-inset-bg1-dark-xs p-4 text-color text-xl md:text-2xl text-center font-bold w-fit mb-8">Un développeur web</h3>
      </div>
      <p class="mb-4">Créateur d’instruments électroniques, passionné d’informatique et artiste graphique, Julien Fayard combine à lui seul toutes les compétences pour vous offrir le meilleur du webdesign. Sa rigueur scientifique et sa créativité apporteront à votre site web le parfait mélange de design et de perfomances techniques.</p> 
    </div>
  </div>
</div>