<footer class="footer bg-stone-200 relative pt-1 border-b-2 border-gray-700">
  <div class="container mx-auto px-6">
    <div class="sm:flex sm:mt-8">
      <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
        <div class="flex flex-col justify-between">
          <div class="flex flex-col">
            <span class="my-2"><a href="/politique-de-confidentialite" class="text-gray-700  text-md hover:text-gray-500">Politique de confidentialité</a></span>
            <span class="my-2"><a href="/mentions-legales" class="text-gray-700  text-md hover:text-gray-500">Mentions légales</a></span>
          </div>
          <span class="my-2"><a href="mailto:contact@annmof.fr" class="text-gray-700  text-md hover:text-gray-500">contact@annmof.fr</a></span>
        </div>
        <div class="flex flex-col">
          <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Services</span>
          <ul class="flex flex-col">
            {% for item in services %}
              <li class="my-2">
                <a href="{{ item.link }}" class="text-gray-700 text-md hover:text-gray-500">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="flex flex-col">
          <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Réseaux sociaux</span>
          <ul class="flex flex-col">
            {% for item in socialMedia %}
              <li class="my-2">
                <a href="{{ item.link }}" class="text-gray-700 text-md hover:text-gray-500">
                  <img class="inline ml-4" src={{ item.icon }} alt="{{ item.title }} logo" width="16" height="16">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-6">
    <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
      <div class="sm:w-2/3 text-center py-6">
        <p class="text-sm text-gray-700 font-bold mb-16">
            © 2022 - avec 🌈 par <span class="bimbo text-base">annmof</span>
        </p>
      </div>
    </div>
  </div>
</footer>
