<div class="flex flex-col md:flex-row items-center m-0 md:m-16 justify-around">
  <div class="order-2 md:order-1 m-8 md:max-width-50vw">
    <h1 class="rounded-md big-font shadow-green bg-green-300 p-4 text-4xl md:text-6xl text-center md:text-left font-bold mt-16 editable">Agence web : rédaction web, SEO et formation</h1>
    <div class="mt-16 text-gray-800 dark:text-stone-100 text-base leading-loose editable">
      <p class="bimbo text-8xl text-gray-800 mb-4 text-center">Hello</p>
      <p class="mb-4">Chaque jour, Annmof accompagne des chefs d'entreprises, commerçants, professions libérales, artisans et artistes, qui savent qu'un site web bien référencé est indispensable au développement de leur activité.</p>
      <div class="flex flex-col md:flex-row gap-8 drop-shadow-lg mb-4">
        <div class="nm-flat-stone-100 rounded-md p-4 flex-1">
          <span class="big-font text-xl">93% </span>des internautes français utilisent Google comme moteur de recherche
        </div>
        <div class="nm-flat-stone-100 rounded-md p-4 flex-1">
          <span class="big-font text-xl">80% </span>des français achètent sur internet ou s'informent en ligne avant d'acheter un produit ou un service
        </div>
      </div>
      <p class="mb-4">Vos clients vous cherchent sur Internet : Montrez-vous !</p>
      <p class="mb-4">Pour qu'ils vous trouvent parmi la multitude de sites concurrents,misez sur un site fluide, responsive et performant, couplé à une stratégie de référencement naturel qui s'appuie sur des contenus intéressants et optimisés.</p>
      <p class="mb-4">Attirez du trafic et gagnez en popularité. Google va vous adorer !
      <p class="heartbeat text-6xl text-center drop-shadow-lg text-transparent emoji-vert">❤️</p></p>
    </div>
  </div>
  <div class="order-1 md:order-2 m-8">
    <img
      src="./assets/images/manon.webp"
      class="object-scale-down m-auto rounded-full"
      alt="visage de Manon Fayard qui regarde vers le haut en souriant"
      width=265px
      height=265px
    />
  </div>
</div>