<div class="mb-16 max-height-100vh">
  <p class="bimbo mt-8 mb-8 text-center text-6xl md:text-8xl">annmof</p>
  <img
    src="./assets/images/logo_annmof.webp"
    class="m-auto"
    alt="logo - machine à écrire avec un arc-en-ciel à la place du papier"
    width=135px
    height=282px
  />
</div>