<nav role="navigation" aria-label="Menu principal" id="navbar" class="bg-stone-100 shadow-lg fixed -top-16 left-0 w-full transition-all duration-300">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex space-x-7 justify-between">
      <div>
        <a href="/" class="flex items-center py-4 px-2">
          <img
            src="../assets/images/logo_annmof-cropped.webp"
            alt="Logo"
            class="h-8 w-8 mr-2"
            width=32px
            height=32px
          />
          <span class="font-semibold text-gray-900 text-lg bimbo">Annmof</span>
        </a>
      </div>
      <ul class="hidden md:flex items-center space-x-1">
        {% for item in services %}
          <li>
            <a href="{{ item.link }}" class="nav-link" {% if item.link in page.url %} aria-current="page"{% endif %}>
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="md:hidden flex items-center">
        <button aria-expanded="false" class="outline-none mobile-menu-button text-sm text-center">
          <div class="mb-1 flex flex-col items-center">
            <span id="hamb-top" class="transition duration-300 mb-1 w-6 block h-1 bg-gray-700 rounded"></span>
            <span id="hamb-mid" class="transition duration-300 mb-1 w-6 block h-1 bg-gray-700 rounded"></span>
            <span id="hamb-bot" class="transition duration-300 w-6 block h-1 bg-gray-700 rounded"></span>
          </div>
          menu
        </button>
      </div>
    </div>
  </div>
  <div class="hidden mobile-menu">
    <ul>
      {% for item in services %}
        <li>
          <a href="{{ item.link }}" class="menu-item" {% if item.link in page.url %} aria-current="page"{% endif %}>
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");
    const hamburgerTop = document.getElementById("hamb-top");
    const hamburgerMid = document.getElementById("hamb-mid");
    const hamburgerBot = document.getElementById("hamb-bot");

    btn.addEventListener("click", () => {
      let x = btn.getAttribute("aria-expanded");
      menu.classList.toggle("hidden");
      if(x == "false"){
        x = "true";
      }
      else{
        x = "false";
      }
      btn.setAttribute("aria-expanded",x);
      hamburgerTop.classList.toggle("open-top");
      hamburgerMid.classList.toggle("open-mid");
      hamburgerBot.classList.toggle("open-bot");
    });
    {% if page.url == "/"%}
      window.onscroll = function() {
        let currentScrollPos = window.pageYOffset;
        if(currentScrollPos >= 600){
          document.getElementById("navbar").style.top = "0";
        }
        else{
          document.getElementById("navbar").style.top = "-4rem";
          menu.classList.add("hidden");
          hamburgerTop.classList.remove("open-top");
          hamburgerMid.classList.remove("open-mid");
          hamburgerBot.classList.remove("open-bot");
        }
      }
    {% else %}
      document.getElementById("navbar").style.top = "0";
    {% endif %}
  </script>
</nav>