<figure>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 -10 100 120"
    class="image"
    aria-hidden="true"
  >
    <title>This is an image title</title>
    <desc>This is an image description</desc>
    <defs>
      <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
        <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
      </clipPath>
      <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
        <path
          d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z"
        />
      </clipPath>
    </defs>
    <!-- Background image -->
    <g clip-path="url(#maskImage)" transform="translate(0 -7)">
      <image
        clip-path="url(#maskBackground)"
        width="120"
        height="120"
        x="70"
        y="38"
        href="https://res.cloudinary.com/dazdt97d3/image/upload/v1615813805/background.png"
        transform="translate(-90 -31)"
      />
      <!-- Foreground image -->
      <image
        width="120"
        height="144"
        x="-15"
        y="0"
        fill="none"
        class="image__foreground"
        href="https://res.cloudinary.com/dazdt97d3/image/upload/v1615813805/foreground.png"
      />
    </g>
  </svg>

  <!-- SEO and a11y fallback image -->

  <img
    src="https://res.cloudinary.com/dazdt97d3/image/upload/v1615813734/fallback.png"
    alt="This is a detailed image description"
    loading="lazy"
    class="fallback-image"
  />
</figure>

<style>
  .image {
    transform: scale(0.9, 0.9);
    transition: transform 0.2s ease-in;
  }

  .image__foreground {
    transform-origin: 50% 50%;
    transform: translateY(4px) scale(1, 1);
    transition: transform 0.2s ease-in;
  }

  .image:hover,
  .image:active {
    transform: scale(1, 1);
  }

  .image:hover .image__foreground,
  .image:active .image__foreground {
    transform: translateY(-7px) scale(1.05, 1.05);
  }

  @media (prefers-reduced-motion: no-preference) {
    .fallback-image {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  @media (prefers-reduced-motion) {
    .image {
      display: none;
    }
  }
</style>
