<div class="flex flex-row flex-wrap justify-center gap-8 mx-8">
  {% for item in services %}
    <div class="service-card pt-8">
      <div>
        <h2 class="inset-color-light dark:no-inset service-h2 big-font">{{ item.title }}</h2>
        <p class="mt-2 text-neutral-light dark:text-neutral-dark dark:text-stone-100 p-4 leading-relaxed">{{ item.texte }}</p>
      </div>
      <div class="mt-4 nm-flat-bg2-light dark:nm-flat-bg2-dark w-fit rounded-md px-4 py-2 self-end">
        <a href={{ item.link }} class="text-base lg:text-xl text-neutral-light dark:text-neutral-dark font-medium">{{ item.cta }}</a>
      </div>
    </div>
  {% endfor %}
</div>