<div class="h-screen mb-8">
  <p class="bimbo mt-8 mb-8 text-center text-6xl md:text-8xl">annmof</p>
  <img
    src="./assets/images/logo_annmof.webp"
    class="h-1/2 m-auto"
    alt="logo - machine à écrire avec un arc-en-ciel à la place du papier"
  />
</div>