<div class="m-16 h-screen">
  <p class="bimbo text-center m-16 text-6xl md:text-8xl">annmof</p>
  <img
    src="./assets/images/logo_annmof.png"
    class="object-scale-down m-auto"
    alt="logo - machine à écrire avec un arc-en-ciel à la place du papier"
  />
</div>