<nav class="bg-white shadow-lg fixed top-0 left-0 w-full">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex space-x-7 justify-between">
      <div>
        <a href="/" class="flex items-center py-4 px-2">
          <img
            src="assets/images/logo_annmof-cropped.png"
            alt="Logo"
            class="h-8 w-8 mr-2"
          />
          <span class="font-semibold text-gray-900 text-lg bimbo">Annmof</span>
        </a>
      </div>
      <div class="hidden md:flex items-center space-x-1">
        <a
          href="/redaction-web" 
          class="nav-link
          {% if 'redaction-web' in page.url %}
          border-b-4
          border-green-500
          text-green-500
          {% endif %}"
        >
          Rédaction Web
        </a>
        <a
          href="/seo" 
          class="nav-link
          {% if 'seo' in page.url %}
          border-b-4
          border-green-500
          text-green-500
          {% endif %}"
        >
          SEO
        </a>
        <a
          href="/creation-de-site" 
          class="nav-link
          {% if 'creation-de-site' in page.url %}
          border-b-4
          border-green-500
          text-green-500
          {% endif %}"
        >
          Création de site
        </a>
        <a
          href="/formation" 
          class="nav-link
          {% if 'formation' in page.url %}
          border-b-4
          border-green-500
          text-green-500
          {% endif %}"
        >
          Formation
        </a>
        <a
          href="/graphisme" 
          class="nav-link
          {% if 'graphisme' in page.url %}
          border-b-4
          border-green-500
          text-green-500
          {% endif %}"
        >
          Graphisme
        </a>
      </div>
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <span id="hamb-top" class="transition duration-300 mb-1 w-6 block h-1 bg-gray-700 rounded"></span>
          <span id="hamb-mid" class="transition duration-300 mb-1 w-6 block h-1 bg-gray-700 rounded"></span>
          <span id="hamb-bot" class="transition duration-300 w-6 block h-1 bg-gray-700 rounded"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="hidden mobile-menu">
    <ul>
      <li>
        <a
          href="/redaction-web"
          class="menu-item"
          >Rédaction Web</a
        >
      </li>
      <li>
        <a
          href="/seo"
          class="menu-item"
        >
          SEO
        </a>
      </li>
      <li>
        <a
          href="/creation-de-site"
          class="menu-item"
        >
          Création de site
        </a>
      </li>
      <li>
        <a
          href="/formation"
          class="menu-item"
        >
          Formation
        </a>
      </li>
      <li>
        <a
          href="/graphisme"
          class="menu-item"
        >
          Graphisme
        </a>
      </li>
    </ul>
  </div>
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");
    const hamburgerTop = document.getElementById("hamb-top");
    const hamburgerMid = document.getElementById("hamb-mid");
    const hamburgerBot = document.getElementById("hamb-bot");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
      hamburgerTop.classList.toggle("open-top");
      hamburgerMid.classList.toggle("open-mid");
      hamburgerBot.classList.toggle("open-bot");
    });
  </script>
</nav>