@tailwind base;
@tailwind components;
@tailwind utilities;

.bimbo{
  font-family: 'Bimbo', cursive;
}

.fraunces{
  font-family: 'Fraunces', serif;
}

*{
  font-family: 'Commissioner', sans-serif;
}

.highlight-green {
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(110, 231, 183, 0.7),
    rgba(110, 231, 183, 0.3)
  );
  box-decoration-break: clone;
  padding: 0.5rem;
}

.highlight-pink {
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(231, 110, 158, 0.7),
    rgba(231, 110, 158, 0.3)
  );
  box-decoration-break: clone;
  padding: 0.5rem;
}

@layer components{
  .nav-link{
    @apply py-2 px-2 font-semibold text-gray-500 hover:text-green-700 transition duration-300;
  }
  .menu-item{
    @apply block text-lg px-2 py-4 hover:bg-green-700 hover:text-white hover:font-semibold transition duration-300;
  }
  .max-width-50vw{
    max-width: 50vw;
  }
  .max-height-100vh{
    max-height: 100vh;
  }
  .service-img-container{
    @apply flex justify-center md:justify-end -mt-16;
  }
  .service-img{
    @apply w-20 h-20 object-cover rounded-full border-2 border-green-700;
  }
  .service-h2{
    @apply text-gray-800 text-3xl font-semibold -mt-2;
  }
  .service-card{
    @apply max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20;
  }
}

.open-top{
  transform-origin: bottom;
  transform: rotate(45deg) translateY(10px);
}

.open-bot{
  transform-origin: top;
  transform: rotate(-45deg) translateY(-10px);
}

.open-mid{
  transform: scale(0);
}

