@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-h: 142deg;
  --green-s: 61%;
  --green-l: 31%;
  --shadow-green: 142deg 61% 31%;

  --bg-h: 200deg;
  --bg-s: 5%;
  --bg-l: 56%;

  --box-elevation-low:
    5px 5px 5px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)-10%)),
    -5px -5px 15px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)+70%));
  --box-elevation-medium:
    10px 10px 20px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)-10%)),
    -10px -10px 20px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)+70%));
  --box-elevation-high:
    5px 5px 10px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)-10%)),
    -5px -5px 10px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)+70%)),
    10px 10px 20px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l))),
    -10px -10px 20px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)+70%)),
    15px 15px 30px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)+10%)),
    -15px -15px 30px hsl(var(--bg-h),var(--bg-s),calc(var(--bg-l)+100%));
    
  --text-elevation-low:
    1px 1px 1px hsl(var(--shadow-green) / 0.62),
    2px 2px 4px  hsl(var(--shadow-green) / 0.56);
  --text-elevation-medium:
    1px 1px 1px hsl(var(--shadow-green) / 0.62),
    2px 2px 4px  hsl(var(--shadow-green) / 0.56),
    4px 4px 8px  hsl(var(--shadow-green) / 0.5),
    8px 8px 16px  hsl(var(--shadow-green) / 0.44);
  --text-elevation-high:
    1px 1px 1px hsl(var(--shadow-green) / 0.62),
    2px 2px 4px  hsl(var(--shadow-green) / 0.56),
    4px 4px 8px  hsl(var(--shadow-green) / 0.5),
    8px 8px 16px  hsl(var(--shadow-green) / 0.44),
    10px 10px 20px  hsl(var(--shadow-green) / 0.42),
    15px 15px 30px  hsl(var(--shadow-green) / 0.4),
    20px 20px 40px  hsl(var(--shadow-green) / 0.38);
}

.bimbo{
  font-family: 'Bimbo', cursive;
}

.big-font{
  font-weight: 900;
}

.medium-font{
  font-weight: 500;
}

*{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
}

.highlight-green {
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(134, 239, 172, 1),
    rgba(134, 239, 172, 0.5)
  );
  box-decoration-break: clone;
  padding: 0.5rem;
}

.container-ancre {
  padding-top: 75px;
  margin-top: -75px;
}

@layer components{
  .nav-link{
    @apply py-2 px-2 font-semibold text-neutral-light dark:text-neutral-dark transition duration-300;
  }
  .menu-item{
    @apply block text-lg px-2 py-4 text-neutral-light dark:text-neutral-dark transition duration-300;
  }
  .max-width-50vw{
    max-width: 50vw;
  }
  .max-height-100vh{
    max-height: 100vh;
  }
  .h-32rem{
    height:32rem;
  }
  .h-28rem{
    height:28rem;
  }
  .h-20rem{
    height:20rem;
  }
  .h-40rem{
    height:40rem;
  }
  .h-50rem{
    height:50rem;
  }
  .service-h2{
    @apply text-color text-3xl font-semibold rounded-md px-4 py-2 w-fit;
  }
  .service-card{
    @apply max-w-md py-4 px-8 neu-medium rounded-2xl my-20 flex flex-col justify-between;
  }
  .play{
    @apply neu-low;
  }
  .pause{
    @apply nm-concave-bg1-light dark:nm-concave-bg1-dark;
  }
  .visage-anim:hover, .visage-anim:active{
    @apply nm-flat-bg1-light-xl dark:nm-flat-bg1-dark-xl transition-all duration-1000 ;
  }
  .textshadow-medium{
    text-shadow: var(--text-elevation-medium);
  }
  .textshadow-low{
    text-shadow: var(--text-elevation-low);
  }
  .textshadow-high{
    text-shadow: var(--text-elevation-high);
  }
  .neu-high{
    box-shadow: var(--box-elevation-high);
  }
  .neu-medium{
    box-shadow: var(--box-elevation-medium);
  }
  .neu-low{
    box-shadow: var(--box-elevation-low);
  }
}

.nav-link:hover, .menu-item:hover{
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(134, 239, 172, 1),
    rgba(134, 239, 172, 0.3)
  );
  box-decoration-break: clone;
  color:rgb(31 41 55);
}

.open-top{
  transform-origin: bottom;
  transform: translateY(7.5px) rotate(45deg);
}

.open-bot{
  transform-origin: top;
  transform: translateY(-7.5px) rotate(-45deg);
}

.open-mid{
  transform: scale(0);
}

a[aria-current="page"]{
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(134, 239, 172, 1),
    rgba(134, 239, 172, 0.3)
  );
  box-decoration-break: clone;
  color:rgb(31 41 55);
}

.heartbeat {
	animation: poumpoum 1.5s ease-in-out infinite both;
}

@keyframes poumpoum {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; 
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.rotate-center {
	animation: rotate-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.emoji-vert{
  text-shadow: 0 0 0 rgb(134, 239, 172);
}

.freakout {
	animation: vibrate 0.3s linear infinite both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}
