@tailwind base;
@tailwind components;
@tailwind utilities;

.bimbo{
  font-family: 'Bimbo', cursive;
}

.big-font{
  font-weight: 900;
}

.medium-font{
  font-weight: 500;
}

*{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
}

.highlight-green {
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(134, 239, 172, 1),
    rgba(134, 239, 172, 0.5)
  );
  box-decoration-break: clone;
  padding: 0.5rem;
}

@layer components{
  .inset-color-light{
    background-color: #86EFAC;
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
  }
  .no-inset{
    text-shadow: none;
  }
  .nav-link{
    @apply py-2 px-2 font-semibold text-neutral-light dark:text-neutral-dark transition duration-300;
  }
  .menu-item{
    @apply block text-lg px-2 py-4 text-neutral-light dark:text-neutral-dark transition duration-300;
  }
  .max-width-50vw{
    max-width: 50vw;
  }
  .max-height-100vh{
    max-height: 100vh;
  }
  .h-32rem{
    height:32rem;
  }
  .h-50rem{
    height:50rem;
  }
  .service-h2{
    @apply text-color dark:nm-flat-bg2-dark nm-flat-bg2-light text-3xl font-semibold rounded px-4 py-2 w-fit;
  }
  .service-card{
    @apply max-w-md py-4 px-8 dark:nm-flat-bg2-dark nm-flat-bg2-light rounded-lg my-20 flex flex-col justify-between;
  }
  .play{
    @apply nm-flat-bg2-light dark:nm-flat-bg2-dark;
  }
  .pause{
    @apply nm-concave-bg2-light dark:nm-concave-bg2-dark;
  }
}

.nav-link:hover, .menu-item:hover{
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(134, 239, 172, 1),
    rgba(134, 239, 172, 0.3)
  );
  box-decoration-break: clone;
  color:rgb(31 41 55);
}

.open-top{
  transform-origin: bottom;
  transform: translateY(8px) rotate(45deg);
}

.open-bot{
  transform-origin: top;
  transform: translateY(-8px) rotate(-45deg);
}

.open-mid{
  transform: scale(0);
}

a[aria-current="page"]{
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(134, 239, 172, 1),
    rgba(134, 239, 172, 0.3)
  );
  box-decoration-break: clone;
  color:rgb(31 41 55);
}

.heartbeat {
	animation: poumpoum 1.5s ease-in-out infinite both;
}

@keyframes poumpoum {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; 
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

.rotate-90-cw {
	animation: rotate-90-cw 2.5s ease-in-out alternate both infinite;
}

.emoji-vert{
  text-shadow: 0 0 0 rgb(134, 239, 172);
}