<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {% include 'navigation.njk' %} {% include 'hero.njk' %}
  </body>
</html>
