---
layout: base.njk
---
<div class="text-gray-700 container p-2 md:p-16 mt-16">
  <h1 class="fraunces highlight-green text-4xl md:text-6xl text-center md:text-left font-bold mt-16">Mentions légales</h1>
  <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site www.annmof.fr les informations suivantes :</p>
  <br>
  <p>ÉDITEUR
  <br>
  Le site www.annmof.fr est la propriété exclusive de Annmof, autoentrepreneur, qui l'édite.<br>
  07.76.69.94.63 - 760 route d'Uchaux 84 420 Piolenc
  <br>
  Immatriculée au Registre du Commerce et des Sociétés d'Avignon sous le numéro 89843188700014
  <br>
  Numéro TVA intracommunautaire : RAS
  <br>
  Directeur de la publication : Manon Fayard
  <br>
  Contactez le responsable de la publication : annmof.redactriceweb@gmail.com</p>
  <br>
  <p>HÉBERGEMENT
  <br>
  Le site est hébergé par Netlify, Inc., 2325 3rd Street, Suite 296, San Francisco, California 94107.</p>
</div>